/*  your css code here. If applicable */
#line{
	color:black;
	width:200px;
	height:2px;
	background-color:black;
	position:absolute;
	animation: rotate 1s linear infinite;
}
/* .container{
			width:500px;
			height:500px;
			display:flex;
			justify-content:center;
			align-items:center;
		}
 */
		@keyframes rotate{

	    from{
            transform:rotate(0deg)
	    }

	    to{
	       transform:rotate(360deg)
	    }